{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block extrastyle %}
<style type="text/css">
table input[type='password'] { direction:ltr }
th {text-align:{% if LANGUAGE_BIDI %}right{% else %}left{% endif %} }
</style>
{% endblock %}
{% block content %}
<h3 class="title">{% trans "Change password" %}</h3><hr class="clear">
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="{% trans "Change password" %}" /></td></tr>
</table>
</form>
{% endblock %}
